{% extends "layout.html" %}

  {% block content %}  
  
  {# Bread Crumb STRAT #}
  {% from 'parts/bread_crumb.html' import bread_crumb %}
  {{ bread_crumb(banner_title=page_info.title.split("|")[0], layout_translation=page_info.layout_translation) }}
  {# Bread Crumb END #}
  
  <!-- CONTAIN START -->

  <section class="ptb-70">
    <div class="our_story gray-bg">
      <div class="container">
        <div class="row">
          <div class="col-md-6">
            <div class="story_detail_part">
              <div class="heading-part line-bottom mb-30">
                <h2 class="main_title  heading"><span>Biz Kimiz</span></h2>
              </div>
              <p>
                Printerush olarak, geleceğin üretim teknolojilerini, özgün ürün çeşitleriyle sunarken müşterilerimizin memnuniyetini odak noktası haline getiriyoruz. 3B ürün pazarında öncü bir e-ticaret platformu olarak, daimi hedefi daha iyi, yeni ve yüksek kalite olan alanında uzman, genç, dinamik ve özverili bir ekibe sahibiz. 2020 yılında İTÜ Çekirdek bünyesinde kurulan bir start-up olarak hayata başlayan platformumuz hızla farkını ve potansiyelini kullanıcılarına hissettirip, pazarda yerini oluşturmaya başladı.
              </p>
              <p>
                Üretim metodlarını ve ticaret yöntemlerini baştan aşağı değiştireceğimiz Printerush platformumuz ile ürün satıcılarına; geniş ürün yelpazeleriyle, düşük başlangıç maliyetlerinde, doğru müşterilerle buluşma imkanı sağlıyoruz.              </p>
              <b>PrinteRush Ekibi</b>
            </div>
          </div>
{#          <div class="col-md-6 story_img_part ">#}
          <div class="col-md-6">
              <div class="story_img_part h-100 w-100"></div>
          </div>
        </div>
      </div>
    </div>
  </section>

  <section class="pb-70">
    <div class="container">
      <div class="row">
        <div class="col-12">
          <div class="responsive-part">
            <div class="row">
              <div class="col-sm-12 partner-detail-main">
                <div class="heading-part line-bottom mb-30">
                  <h2 class="main_title  heading"><span>İş Ortaklarımız</span></h2>
                </div>
              </div>
              <div class="col-sm-12">
                  <div class="row text-center">
                      <div class="col-4 mx-auto"><a href="https://itucekirdek.com/" target="_blank" rel="noopener noreferrer"><span><img src="{{ url_for('static', filename='images/partners/itu-cekirdek-logo.png') }}" alt="İTÜ Çekirdek"></span></a></div>
                      <div class="col-4 mx-auto"><a href="https://www.iyzico.com/" target="_blank" rel="noopener noreferrer"><span><img src="{{ url_for('static', filename='images/partners/iyzico-logo.png') }}" alt="iyzico" class=""></span></a></div>
                  </div>
{#                  <div class="partner-block mb-sm-30 light-gray-bg">#}
{#                  <ul>#}
{#                    <li><a href="https://itucekirdek.com/" target="_blank" rel="noopener noreferrer"><span><img src="{{ url_for('static', filename='images/partners/itu-cekirdek-logo.png') }}" alt="İTÜ Çekirdek"></span></a></li>#}
{#                    <li><a href="https://www.iyzico.com/" target="_blank" rel="noopener noreferrer"><span><img src="{{ url_for('static', filename='images/partners/iyzico-logo.png') }}" alt="iyzico" class=""></span></a></li>#}
{#                    <li><span><img src="/static/images/brand3.png" alt="Everypick"></span></li>#}
{#                    <li><span><img src="/static/images/brand4.png" alt="Everypick"></span></li>#}
{#                    <li class="owner-logo ">#}
{#                      <span><img src="/static/images/owner-logo.png" alt="Everypick"></span>#}
{#                    </li>#}
{#                    <li><span><img src="/static/images/brand5.png" alt="Everypick"></span></li>#}
{#                    <li><span><img src="/static/images/brand6.png" alt="Everypick"></span></li>#}
{#                    <li><span><img src="/static/images/brand7.png" alt="Everypick"></span></li>#}
{#                    <li><span><img src="/static/images/brand8.png" alt="Everypick"></span></li>#}
{#                  </ul>#}
{#                </div>#}
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>

  <!--Testimonial Block Start -->
  <section class="client-bg ptb-70">
    <div class="top-shadow">
      <img alt="Everypick" src="/static/images/top-shadow.png">
    </div>
    <div class="container">
      <div class="row">
        <div class="col-md-12">
          <div class="client-main style-02 client-bg">
            <div class="client-inner align-center">
              <div id="client" class="owl-carousel">
                <div class="item client-detail">
                  <div class="client-img ">
                      <img alt="Everypick" src="/static/images/testimonial_img1.jpg">
                    <h4 class="sub-title client-title">- Joseph deboungawer - </h4>
                    <div class="designation">Maneger of Business  Development</div>
                  </div>
                  <div class="quote">
                    <p>It is a long established fact that a reader will be distracted by the readable content of a page when looking at its layout. The point of using Lorem Ipsum is that it has a more-or-less normal distribution of letters
                    </p>
                  </div>
                </div>
                <div class="item client-detail">
                  <div class="client-img ">
                      <img alt="Everypick" src="/static/images/testimonial_img2.jpg">
                    <h4 class="sub-title client-title">- Joseph deboungawer - </h4>
                    <div class="designation">Maneger of Business  Development</div>
                  </div>
                  <div class="quote">
                    <p>It is a long established fact that a reader will be distracted by the readable content of a page when looking at its layout. The point of using Lorem Ipsum is that it has a more-or-less normal distribution of letters
                    </p>
                  </div>
                </div>
                <div class="item client-detail">
                  <div class="client-img ">
                      <img alt="Everypick" src="/static/images/testimonial_img3.jpg">
                    <h4 class="sub-title client-title">- Joseph deboungawer - </h4>
                    <div class="designation">Maneger of Business  Development</div>
                  </div>
                  <div class="quote">
                    <p>It is a long established fact that a reader will be distracted by the readable content of a page when looking at its layout. The point of using Lorem Ipsum is that it has a more-or-less normal distribution of letters
                    </p>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="bottom-shadow">
      <img alt="Everypick" src="/static/images/bottom-shadow.png">
    </div>
  </section>
  <!--Testimonial Block End -->

{#  <section class="ptb-70">#}
{#    <div class="container">#}
{#      <div class="team-part team-opt-1">#}
{#        <div class="row">#}
{#          <div class="col-12 ">#}
{#            <div class="heading-part line-bottom mb-30">#}
{#              <h2 class="main_title heading"><span>Our Team</span></h2>#}
{#            </div>#}
{#          </div>#}
{#        </div>#}
{#        <div class="pro_cat">#}
{#          <div class="row mlr_-20">#}
{#            <div class="owl-carousel our-team ">#}
{#              <div class="item plr-20">#}
{#                <div class="team-item listing-effect col-sm-margin-b"> <img alt="Everypick" src="/static/images/tm1.jpg">#}
{#                  <div class="team-item-detail">#}
{#                    <h3 class="sub-title listing-effect-title">Adamaris Corliss</h3>#}
{#                    <div class="listing-meta">Co-Founder</div>#}
{#                    <div class="social_icon">#}
{#                      <ul>#}
{#                        <li><a href="#"><i class="fa fa-facebook"></i></a></li>#}
{#                        <li><a href="#"><i class="fa fa-twitter"></i></a></li>#}
{#                        <li><a href="#"><i class="fa fa-dribbble"></i></a></li>#}
{#                        <li><a href="#"><i class="fa fa-pinterest"></i></a></li>#}
{#                      </ul>#}
{#                    </div>#}
{#                  </div>#}
{#                </div>#}
{#              </div>#}
{#              <div class="item plr-20">#}
{#                <div class="team-item listing-effect col-sm-margin-b"> <img alt="Everypick" src="/static/images/tm2.jpg">#}
{#                  <div class="team-item-detail">#}
{#                    <h3 class="sub-title listing-effect-title">Lusi Rose</h3>#}
{#                    <div class="listing-meta">Project Manager</div>#}
{#                    <div class="social_icon">#}
{#                      <ul>#}
{#                        <li><a href="#"><i class="fa fa-facebook"></i></a></li>#}
{#                        <li><a href="#"><i class="fa fa-twitter"></i></a></li>#}
{#                        <li><a href="#"><i class="fa fa-dribbble"></i></a></li>#}
{#                        <li><a href="#"><i class="fa fa-pinterest"></i></a></li>#}
{#                      </ul>#}
{#                    </div>#}
{#                  </div>#}
{#                </div>#}
{#              </div>#}
{#              <div class="item plr-20">#}
{#                <div class="team-item listing-effect col-sm-margin-b"> <img alt="Everypick" src="/static/images/tm3.jpg">#}
{#                  <div class="team-item-detail">#}
{#                    <h3 class="sub-title listing-effect-title">Adamaris Corliss</h3>#}
{#                    <div class="listing-meta">Co-Founder</div>#}
{#                    <div class="social_icon">#}
{#                      <ul>#}
{#                        <li><a href="#"><i class="fa fa-facebook"></i></a></li>#}
{#                        <li><a href="#"><i class="fa fa-twitter"></i></a></li>#}
{#                        <li><a href="#"><i class="fa fa-dribbble"></i></a></li>#}
{#                        <li><a href="#"><i class="fa fa-pinterest"></i></a></li>#}
{#                      </ul>#}
{#                    </div>#}
{#                  </div>#}
{#                </div>#}
{#              </div>#}
{#              <div class="item plr-20">#}
{#                <div class="team-item listing-effect col-sm-margin-b"> <img alt="Everypick" src="/static/images/tm4.jpg">#}
{#                  <div class="team-item-detail">#}
{#                    <h3 class="sub-title listing-effect-title">Adamaris Corliss</h3>#}
{#                    <div class="listing-meta">Co-Founder</div>#}
{#                    <div class="social_icon">#}
{#                      <ul>#}
{#                        <li><a href="#"><i class="fa fa-facebook"></i></a></li>#}
{#                        <li><a href="#"><i class="fa fa-twitter"></i></a></li>#}
{#                        <li><a href="#"><i class="fa fa-dribbble"></i></a></li>#}
{#                        <li><a href="#"><i class="fa fa-pinterest"></i></a></li>#}
{#                      </ul>#}
{#                    </div>#}
{#                  </div>#}
{#                </div>#}
{#              </div>#}
{#              <div class="item plr-20">#}
{#                <div class="team-item listing-effect col-sm-margin-b"> <img alt="Everypick" src="/static/images/tm1.jpg">#}
{#                  <div class="team-item-detail">#}
{#                    <h3 class="sub-title listing-effect-title">Adamaris Corliss</h3>#}
{#                    <div class="listing-meta">Co-Founder</div>#}
{#                    <div class="social_icon">#}
{#                      <ul>#}
{#                        <li><a href="#"><i class="fa fa-facebook"></i></a></li>#}
{#                        <li><a href="#"><i class="fa fa-twitter"></i></a></li>#}
{#                        <li><a href="#"><i class="fa fa-dribbble"></i></a></li>#}
{#                        <li><a href="#"><i class="fa fa-pinterest"></i></a></li>#}
{#                      </ul>#}
{#                    </div>#}
{#                  </div>#}
{#                </div>#}
{#              </div>#}
{#              <div class="item plr-20">#}
{#                <div class="team-item listing-effect col-sm-margin-b"> <img alt="Everypick" src="/static/images/tm2.jpg">#}
{#                  <div class="team-item-detail">#}
{#                    <h3 class="sub-title listing-effect-title">Lusi Rose</h3>#}
{#                    <div class="listing-meta">Project Manager</div>#}
{#                    <div class="social_icon">#}
{#                      <ul>#}
{#                        <li><a href="#"><i class="fa fa-facebook"></i></a></li>#}
{#                        <li><a href="#"><i class="fa fa-twitter"></i></a></li>#}
{#                        <li><a href="#"><i class="fa fa-dribbble"></i></a></li>#}
{#                        <li><a href="#"><i class="fa fa-pinterest"></i></a></li>#}
{#                      </ul>#}
{#                    </div>#}
{#                  </div>#}
{#                </div>#}
{#              </div>#}
{#            </div>#}
{#          </div>#}
{#        </div>#}
{#      </div>#}
{#    </div>#}
{#  </section>#}
  <!-- CONTAINER END --> 
  {% endblock %}