{% extends "layout.html" %}

  {% block content %}  
  
  <!-- Bread Crumb STRAT -->
  <div class="banner inner-banner1 ">
    <div class="container">
      <section class="banner-detail center-xs">
        <h1 class="banner-title">About us</h1>
        <div class="bread-crumb right-side float-none-xs">
          <ul>
            <li><a href="index.html">Home</a>/</li>
            <li><span>About us</span></li>
          </ul>
        </div>
      </section>
    </div>
  </div>
  <!-- Bread Crumb END -->  
  
  <!-- CONTAIN START -->

  <section class="ptb-70">
    <div class="our_story gray-bg">
      <div class="container">
        <div class="row">
          <div class="col-md-6 ">
            <div class="story_detail_part">
              <div class="heading-part line-bottom mb-30">
                <h2 class="main_title  heading"><span>Who We Are</span></h2>
              </div>
              <p>Oh, would I could describe these conceptions, could impress upon paper all that is living so full and warm within me, that it might be the mirror of my soul, as my soul is the mirror of the infinite God!</p>
              <p>I am alone, and feel the charm of existence in this spot, which was created for the bliss of souls like mine. I am so happy, my dear friend, so absorbed in the exquisite sense. </p>
              <b>Everypick Team</b> </div>
          </div>
          <div class="col-md-6 story_img_part">  
          </div>
        </div>
      </div>
    </div>
  </section>

  <section class="pb-70">
    <div class="container">
      <div class="row">
        <div class="col-12">
          <div class="responsive-part">
            <div class="row">
              <div class="col-sm-12 partner-detail-main">
                <div class="heading-part line-bottom mb-30">
                  <h2 class="main_title  heading"><span>Our Partners</span></h2>
                </div>
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. etiam nec suscipit arcu, feugiat fermentum ex cras nec scelerisque magna, eu dignissim ante. mauris ullamcorper neque sed dapibus scelerisque, vestibulum et auctor odio. Fusce dapibus tortor vel quam venenatis rutrum fusce sagittis mauris nisi, eu vulputate nisl lacinia at. Suspendisse potenti, nulla nisi mi, hendrerit vitae faucibus id, ultricies sit amet nisi.</p>
              </div>
              <div class="col-sm-12">
                <div class="partner-block mb-sm-30 light-gray-bg">
                  <ul>
                    <li><span><img src="/static/images/brand1.png" alt="Everypick"></span></li>
                    <li><span><img src="/static/images/brand2.png" alt="Everypick"></span></li>
                    <li><span><img src="/static/images/brand3.png" alt="Everypick"></span></li>
                    <li><span><img src="/static/images/brand4.png" alt="Everypick"></span></li>
                    <li class="owner-logo ">
                      <span><img src="/static/images/owner-logo.png" alt="Everypick"></span>
                    </li>
                    <li><span><img src="/static/images/brand5.png" alt="Everypick"></span></li>
                    <li><span><img src="/static/images/brand6.png" alt="Everypick"></span></li>
                    <li><span><img src="/static/images/brand7.png" alt="Everypick"></span></li>
                    <li><span><img src="/static/images/brand8.png" alt="Everypick"></span></li>
                  </ul>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>

  <!--Testimonial Block Start -->
  <section class="client-bg ptb-70">
    <div class="top-shadow">
      <img alt="Everypick" src="/static/images/top-shadow.png">
    </div>
    <div class="container">
      <div class="row">
        <div class="col-md-12">
          <div class="client-main style-02 client-bg">
            <div class="client-inner align-center">
              <div id="client" class="owl-carousel">
                <div class="item client-detail">
                  <div class="client-img ">
                      <img alt="Everypick" src="/static/images/testimonial_img1.jpg"> 
                    <h4 class="sub-title client-title">- Joseph deboungawer - </h4>
                    <div class="designation">Maneger of Business  Development</div>
                  </div>
                  <div class="quote">
                    <p>It is a long established fact that a reader will be distracted by the readable content of a page when looking at its layout. The point of using Lorem Ipsum is that it has a more-or-less normal distribution of letters
                    </p>
                  </div>
                </div>
                <div class="item client-detail">
                  <div class="client-img ">
                      <img alt="Everypick" src="/static/images/testimonial_img2.jpg"> 
                    <h4 class="sub-title client-title">- Joseph deboungawer - </h4>
                    <div class="designation">Maneger of Business  Development</div>
                  </div>
                  <div class="quote">
                    <p>It is a long established fact that a reader will be distracted by the readable content of a page when looking at its layout. The point of using Lorem Ipsum is that it has a more-or-less normal distribution of letters
                    </p>
                  </div>
                </div>
                <div class="item client-detail">
                  <div class="client-img ">
                      <img alt="Everypick" src="/static/images/testimonial_img3.jpg"> 
                    <h4 class="sub-title client-title">- Joseph deboungawer - </h4>
                    <div class="designation">Maneger of Business  Development</div>
                  </div>
                  <div class="quote">
                    <p>It is a long established fact that a reader will be distracted by the readable content of a page when looking at its layout. The point of using Lorem Ipsum is that it has a more-or-less normal distribution of letters
                    </p>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="bottom-shadow">
      <img alt="Everypick" src="/static/images/bottom-shadow.png">
    </div>
  </section>
  <!--Testimonial Block End -->

  <section class="ptb-70">
    <div class="container">
      <div class="team-part team-opt-1">
        <div class="row">
          <div class="col-12 ">
            <div class="heading-part line-bottom mb-30">
              <h2 class="main_title heading"><span>Our Team</span></h2>
            </div>
          </div>
        </div>
        <div class="pro_cat">
          <div class="row mlr_-20">
            <div class="owl-carousel our-team ">
              <div class="item plr-20">
                <div class="team-item listing-effect col-sm-margin-b"> <img alt="Everypick" src="/static/images/tm1.jpg">
                  <div class="team-item-detail">
                    <h3 class="sub-title listing-effect-title">Adamaris Corliss</h3>
                    <div class="listing-meta">Co-Founder</div>
                    <div class="social_icon">
                      <ul>
                        <li><a href="#"><i class="fa fa-facebook"></i></a></li>
                        <li><a href="#"><i class="fa fa-twitter"></i></a></li>
                        <li><a href="#"><i class="fa fa-dribbble"></i></a></li>
                        <li><a href="#"><i class="fa fa-pinterest"></i></a></li>
                      </ul>
                    </div>
                  </div>
                </div>
              </div>
              <div class="item plr-20">
                <div class="team-item listing-effect col-sm-margin-b"> <img alt="Everypick" src="/static/images/tm2.jpg">
                  <div class="team-item-detail">
                    <h3 class="sub-title listing-effect-title">Lusi Rose</h3>
                    <div class="listing-meta">Project Manager</div>
                    <div class="social_icon">
                      <ul>
                        <li><a href="#"><i class="fa fa-facebook"></i></a></li>
                        <li><a href="#"><i class="fa fa-twitter"></i></a></li>
                        <li><a href="#"><i class="fa fa-dribbble"></i></a></li>
                        <li><a href="#"><i class="fa fa-pinterest"></i></a></li>
                      </ul>
                    </div>
                  </div>
                </div>
              </div>
              <div class="item plr-20">
                <div class="team-item listing-effect col-sm-margin-b"> <img alt="Everypick" src="/static/images/tm3.jpg">
                  <div class="team-item-detail">
                    <h3 class="sub-title listing-effect-title">Adamaris Corliss</h3>
                    <div class="listing-meta">Co-Founder</div>
                    <div class="social_icon">
                      <ul>
                        <li><a href="#"><i class="fa fa-facebook"></i></a></li>
                        <li><a href="#"><i class="fa fa-twitter"></i></a></li>
                        <li><a href="#"><i class="fa fa-dribbble"></i></a></li>
                        <li><a href="#"><i class="fa fa-pinterest"></i></a></li>
                      </ul>
                    </div>
                  </div>
                </div>
              </div>
              <div class="item plr-20">
                <div class="team-item listing-effect col-sm-margin-b"> <img alt="Everypick" src="/static//static/images/tm4.jpg">
                  <div class="team-item-detail">
                    <h3 class="sub-title listing-effect-title">Adamaris Corliss</h3>
                    <div class="listing-meta">Co-Founder</div>
                    <div class="social_icon">
                      <ul>
                        <li><a href="#"><i class="fa fa-facebook"></i></a></li>
                        <li><a href="#"><i class="fa fa-twitter"></i></a></li>
                        <li><a href="#"><i class="fa fa-dribbble"></i></a></li>
                        <li><a href="#"><i class="fa fa-pinterest"></i></a></li>
                      </ul>
                    </div>
                  </div>
                </div>
              </div>
              <div class="item plr-20">
                <div class="team-item listing-effect col-sm-margin-b"> <img alt="Everypick" src="/static//static/images/tm1.jpg">
                  <div class="team-item-detail">
                    <h3 class="sub-title listing-effect-title">Adamaris Corliss</h3>
                    <div class="listing-meta">Co-Founder</div>
                    <div class="social_icon">
                      <ul>
                        <li><a href="#"><i class="fa fa-facebook"></i></a></li>
                        <li><a href="#"><i class="fa fa-twitter"></i></a></li>
                        <li><a href="#"><i class="fa fa-dribbble"></i></a></li>
                        <li><a href="#"><i class="fa fa-pinterest"></i></a></li>
                      </ul>
                    </div>
                  </div>
                </div>
              </div>
              <div class="item plr-20">
                <div class="team-item listing-effect col-sm-margin-b"> <img alt="Everypick" src="/static/images/tm2.jpg">
                  <div class="team-item-detail">
                    <h3 class="sub-title listing-effect-title">Lusi Rose</h3>
                    <div class="listing-meta">Project Manager</div>
                    <div class="social_icon">
                      <ul>
                        <li><a href="#"><i class="fa fa-facebook"></i></a></li>
                        <li><a href="#"><i class="fa fa-twitter"></i></a></li>
                        <li><a href="#"><i class="fa fa-dribbble"></i></a></li>
                        <li><a href="#"><i class="fa fa-pinterest"></i></a></li>
                      </ul>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
  <!-- CONTAINER END --> 
  {% endblock %}