{% extends "layout.html" %}
{% block css_block %}
  <link rel="stylesheet" type="text/css" href="{{ url_for('address_bp.static', filename='parts/address_list.css') }}">
  {%  endblock %}

  {% block content %}


  <!-- Bread Crumb STRAT -->
  <div class="banner inner-banner1 ">
    <div class="container">
      <section class="banner-detail center-xs">
        <h1 class="banner-title">Account</h1>
        <div class="bread-crumb right-side float-none-xs">
          <ul>
            <li><a href="index.html">Home</a>/</li>
            <li><span>Account</span></li>
          </ul>
        </div>
      </section>
    </div>
  </div>
  <!-- Bread Crumb END -->

  <!-- CONTAIN START -->
  <section class="checkout-section ptb-70">
    <div class="container">
      <div class="row">
        <div class="col-lg-3">
          <div class="account-sidebar account-tab mb-sm-30">
            <div class="dark-bg tab-title-bg">
              <div class="heading-part">
                <div class="sub-title"><span></span> Hesabım</div>
              </div>
            </div>
            <div class="account-tab-inner">
              <ul class="account-tab-stap">
                <li id="tab1" {%if g.tab==1%}class="active"{%endif%}> <a href="javascript:void(0)">Adres Bilgilerim<i class="fa fa-angle-right"></i> </a> </li>
                <li id="tab2" {%if g.tab==2%}class="active"{%endif%}> <a href="javascript:void(0)">Hesap Detayları<i class="fa fa-angle-right"></i> </a> </li>
                <li id="tab3" {%if g.tab==3%}class="active"{%endif%}> <a href="javascript:void(0)">Siparişlerim<i class="fa fa-angle-right"></i> </a> </li>
                <li id="tab4" {%if g.tab==4%}class="active"{%endif%}> <a href="javascript:void(0)">Şifre Değiştir<i class="fa fa-angle-right"></i> </a> </li>
              </ul>
            </div>
          </div>
        </div>
        <div class="col-lg-9">
          {% for category, message in get_flashed_messages(with_categories=true) %}
            <div class="alert alert-{{ category }}" role="alert">
                {{ message }}
            </div>
          {% endfor %}
          <div id="data-tab1" class="account-content" data-temp="tabdata" {%if g.tab!=1%} style="display:none" {%endif%}>
            <div class="row">
              <div class="col-12">
                <div class="heading-part heading-bg mb-30">
                  <h2 class="heading m-0">Adres Bilgilerim</h2>
                </div>
              </div>
            </div>
            <div class="mb-30">
              <div class="row">
                <div class="col-12">
                  {% with addresses = g.addresses, prefix="shipping-", new_address_form=g.new_address_form %}
                  {% include "address/parts/address_list.html" %}
                  {% endwith %}
                </div>
              </div>
            </div>
          </div>
          <div id="data-tab2" class="account-content" data-temp="tabdata" {%if g.tab!=2%} style="display: none;" {%endif%}>
            <div class="m-0">
              {%  with form = g.form_1  %}
              {%  include 'parts/form.html' %}
              {%  endwith %}
            </div>
          </div>
          <div id="data-tab3" class="account-content" data-temp="tabdata" {%if g.tab!=3%} style="display:none" {%endif%}>
            <div id="form-print" class="admission-form-wrapper">
              <div class="row">
                <div class="col-12">
                  <div class="heading-part heading-bg mb-30">
                    <h2 class="heading m-0">Siparişlerim</h2>
                  </div>
                </div>
              </div>
              <div class="row">
                <div class="col-12 mb-xs-30">
                  {% for order in g.orders %}
                  <div class="card">
                    <div class="card-header">
                      <div class="row">
                        <div class="col-md-3 text-center">
                          <div>
                            <small>Sipariş No: <b>{{ order.id}}</b></small>
                          </div>
                          <div class="text-muted">
                            <small><span>{{ order.data_status_ref.creation_time.strftime("%d %B %Y, %H:%M") }}</span></small>
                          </div>
                        </div>
                        <div class="col-md-6 text-center">
                          <div class="font-weight-bold h6">
                            <i class="fa fa-check ml-auto text-success" aria-hidden="true"></i>
                            <span>{{ order.order_status_message }}</span>
                          </div>
                        </div>
                        <div class="col-md-3 text-center">
                          <div>
                            <b>{{ order.total_price }}₺</b>
                          </div>
                          <div>
                            <small>{{ order.payment_method }}</small>
                          </div>
                        </div>
                      </div>
                    </div>
                    <div class="card-body" style="display: none;">

                      {% for sub_order in order.sub_orders_set %}
                      <div class="card">
                        <div class="card-body">
                          <div class="row">
                            <div class="col-md-6">
                              {% for order_product in sub_order.order_products_set %}
                              <div class="row my-2">
                                <div class="col-4 product-image">
                                  <a href="{{ url_for("products_bp.view", product_id=order_product.product_ref.id) }}">
                                    <div class="product-image">
                                      <img alt="{{ order_product.product_ref.name }}" src="{{ order_product.product_ref.main_photo.file_path }}">
                                    </div>
                                  </a>
                                </div>
                                <div class="col-8">
                                  <div>
                                    <a href="{{ url_for("products_bp.view", product_id=order_product.product_ref.id) }}">
                                      {{ order_product.product_ref.name }}
                                    </a>
                                  </div>
                                  <div>
                                    <span>Mağaza: <a class="font-weight-bold" href="#" >{{ sub_order.store_ref.name }}</a></span>
                                  </div>
                                  <div>
                                    <span class="price">{% if order_product.quantity>1 %}{{ order_product.quantity }} adet * {% endif %}{{ order_product.unit_price }}₺</span>
                                  </div>
                                </div>
                              </div>
                              {% endfor %}
                            </div>
                            <div class="col-md-6 border-left">
                              {% with shipping_tracking = sub_order.shipping_information_for_products_ref %}
                              {% if shipping_tracking %}
                              <div class="row"><div class="col">
                                <div class="row"><div class="col">
                                  <span class="font-weight-bold">Kargo durumu: </span>
                                  <span>{% if shipping_tracking.status == 1 %}Kargoya verildi{% elif shipping_tracking.status == 2 %}Kargo geri döndü{% elif shipping_tracking.status == 3 %}Kargo teslim edildi <i class="fa fa-check ml-auto text-success" aria-hidden="true"></i>{% endif %}</span>
                                </div></div>
                                <div class="row"><div class="col">
                                  <span class="font-weight-bold">Kargo firması: {{ shipping_tracking.shipping_company }}</span>
                                </div></div>
                                <div class="row"><div class="col">
                                  <span class="font-weight-bold">Takip numarası: </span>
                                  <span>{{ shipping_tracking.shipping_tracking_number }}</span>
                                </div></div>
                              </div>
                              {% else %}
                              <div class="row"><div class="col">
                                  <span class="font-weight-bold">Kargo durumu: </span>
                                  <span>Sipariş hazırlanıyor</span>
                              </div></div>
                              {% endif %}
                              {% endwith %}
                              {% with shipping_tracking = sub_order.shipping_information_for_invoice_ref %}
                              {% if shipping_tracking %}
                              <div class="row"><div class="col">
                                <div class="row"><div class="col">
                                  <span class="font-weight-bold">Kargo durumu: </span>
                                  <span>{% if shipping_tracking.status == 1 %}Kargoya verildi{% elif shipping_tracking.status == 2 %}Kargo geri döndü{% elif shipping_tracking.status == 3 %}Kargo teslim edildi <i class="fa fa-check ml-auto text-success" aria-hidden="true"></i>{% endif %}</span>
                                </div></div>
                                <div class="row"><div class="col">
                                  <span class="font-weight-bold">Kargo firması: {{ shipping_tracking.shipping_company }}</span>
                                </div></div>
                                <div class="row"><div class="col">
                                  <span class="font-weight-bold">Takip numarası: </span>
                                  <span>{{ shipping_tracking.shipping_tracking_number }}</span>
                                </div></div>
                              </div>
                              {% endif %}
                              {% endwith %}
                            </div>
                          </div>
                        </div>
                      </div>
                      {% endfor %}
                    </div>
                  </div>
                  {% endfor %}
                </div>
              </div>
            </div>
            <div class="row">
              <div class="col-12">
                <div class="print-btn text-center mt-30">
                  <button onclick="printDiv('form-print')" class="btn btn-color" type="button">Print</button>
                </div>
              </div>
           </div>
          </div>
          <div id="data-tab4" class="account-content" data-temp="tabdata" {%if g.tab!=4%} style="display:none" {%endif%}>
            {%  with form = g.form_2  %}
            {%  include 'parts/form.html' %}
            {%  endwith %}
          </div>
        </div>
      </div>
    </div>
  </section>
  <!-- CONTAINER END --> 
  
  {% endblock %}

{% block js_block %}
<script src="{{ url_for('static', filename='js/modal_form.js') }}"></script>
<script src="{{ url_for('address_bp.static', filename='address.js') }}"></script>
<script src="{{ url_for('address_bp.static', filename='parts/address_list.js') }}"></script>
<script src="{{ url_for('order_bp.static', filename='shipping.js') }}"></script>
<script>
  $(document).on("click", ".card-header", function () {
    $(this).parent().children(".card-body").toggle();
  });
</script>
{% endblock %}