{% extends "layout.html" %}

  {% block content %}
  {% set translation = page_info.translation["order"]["templates"]["order"]["order_complete_html"] %}

  {# Bread Crumb STRAT #}
  {% from 'parts/bread_crumb.html' import bread_crumb %}
  {{ bread_crumb(banner_title=page_info.title.split("|")[0], layout_translation=page_info.layout_translation) }}
  {# Bread Crumb END #}

  <!-- CONTAIN START -->
  <section class="checkout-section ptb-70">
    <div class="container">
      <div class="row">
        <div class="col-12">
          {% from 'order/macros.html' import steps %}
          {{ steps(step=4, translation=page_info.translation["order"]["templates"]["order"]["parts"]) }}
          <div id="form-print" class="checkout-content">
            <div class="row">
              <div class="col-12">
                <div class="heading-part align-center">
                  <h2 class="heading">{{ translation["order_overview"] }}</h2>
                </div>
              </div>
            </div>
            <div class="row">
              <div class="col-md-8 mb-sm-30">
                <div class="admission-form-wrapper">
                  <div class="cart-item-table complete-order-table commun-table mb-30">
                    <div class="table-responsive">
                      <table class="table">
                        <thead>
                          <tr>
                            <th>{{ translation["product"] }}</th>
                            <th>{{ translation["product_detail"] }}</th>
                          </tr>
                        </thead>
                        <tbody>
                          {% for so in g.order.sub_orders_set %}
                          {% for op in so.order_products_set %}
                          <tr>
                            <td>
                              <a href="{{ url_for("products_bp.view", product_id=op.product_ref.id) }}">
                                <div class="product-image">
                                  <img alt="{{ op.product_ref.name }}" src="{{ op.product_ref.main_photo.file_path }}">
                                </div>
                              </a>
                            </td>
                            <td>
                              <div class="product-title">
                                <a href="{{ url_for("products_bp.view", product_id=op.product_ref.id) }}">
                                  {{ op.product_ref.name }}
                                </a>
                                <div class="product-info-stock-sku m-0">
                                  <div>
                                    <label>{{ translation["unit_price"] }}: </label>
                                    <div class="price-box">
                                      <span class="info-deta price">{{ op.unit_price }}₺</span>
                                    </div>
                                  </div>
                                </div>
                                <div class="product-info-stock-sku m-0">
                                  <div>
                                    <label>{{ translation["quantity"] }}: </label>
                                    <span class="info-deta">{{ op.quantity }}</span> </div>
                                </div>
                              </div>
                            </td>
{#                            <td><div data-id="100" class="total-price price-box"> <span class="price">{{ op.quantity * op.unit_price }}₺</span> </div></td>#}
  {#                          <td><i class="fa fa-trash cart-remove-item" data-id="100" title="Remove Item From Cart"></i></td>#}
                          </tr>
                          {% endfor %}
                          {% endfor %}
                        </tbody>
                      </table>
                    </div>
                  </div>
                  <div class="row">
                    <div class="col-6">
                      <div class="cart-total-table address-box commun-table mb-30">
                        <div class="table-responsive">
                          <table class="table">
                            <thead>
                              <tr>
                                <th>{{ translation["shipping_address"] }}</th>
                              </tr>
                            </thead>
                            <tbody>
                              <tr>
                                <td>
                                  <ul>
                                    <li class="inner-heading"> <b>{{ g.order.shipping_address_ref.first_name }} {{ g.order.shipping_address_ref.last_name }}</b> </li>
                                    <li>
                                      <p>{{ g.order.shipping_address_ref.address_detail }}</p>
                                    </li>
                                    <li>
                                      <p>{{ g.order.shipping_address_ref.district_ref.district }}/{{ g.order.shipping_address_ref.district_ref.city_ref.city }}/{{ g.order.shipping_address_ref.district_ref.city_ref.country_ref.country }}</p>
                                    </li>
                                    <li>
                                      <p>{{ g.order.shipping_address_ref.phone_number }}</p>
                                    </li>
                                  </ul>
                                </td>
                              </tr>
                            </tbody>
                          </table>
                        </div>
                      </div>
                    </div>
                    <div class="col-6">
                      <div class="cart-total-table address-box commun-table">
                        <div class="table-responsive">
                          <table class="table">
                            <thead>
                              <tr>
                                <th>{{ translation["invoicing_address"] }}</th>
                              </tr>
                            </thead>
                            <tbody>
                              <tr>
                                <td>
                                  <ul>
                                    <li class="inner-heading"> <b>{{ g.order.invoicing_address_ref.first_name }} {{ g.order.invoicing_address_ref.last_name }}</b> </li>
                                    <li>
                                      <p>{{ g.order.invoicing_address_ref.address_detail }}</p>
                                    </li>
                                    <li>
                                      <p>{{ g.order.invoicing_address_ref.district_ref.district }}/{{ g.order.invoicing_address_ref.district_ref.city_ref.city }}/{{ g.order.invoicing_address_ref.district_ref.city_ref.country_ref.country }}</p>
                                    </li>
                                    <li>
                                      <p>{{ g.order.invoicing_address_ref.phone_number }}</p>
                                    </li>
                                  </ul>
                                </td>
                              </tr>
                            </tbody>
                          </table>
                        </div>
                      </div>
                    </div>
                  </div>
                  <div class="mb-30">
                    <div class="heading-part">
                      <h3 class="sub-heading">{{ translation["order_confirmation"] }}</h3>
                    </div>
                    <hr>
                    <p class="mt-20">Quisque id fermentum tellus. Donec fringilla mauris nec ligula maximus sodales. Donec ac felis nunc. Fusce placerat volutpat risus, ac fermentum ex tempus eget.</p>
                  </div>
                </div>
              </div>
              <div class="col-md-4">
                <div class="complete-order-detail commun-table mb-30">
                  <div class="table-responsive">
                    <table class="table">
                      <tbody>
                        <tr>
                          <td><b>{{ translation["order_date"] }} :</b></td>
                          <td>{{ g.order.data_status_ref.creation_time.strftime("%d %B %Y") }}</td>
                        </tr>
                        <tr>
                          <td><b>{{ translation["total_price"] }} :</b></td>
                          <td><div class="price-box"> <span class="price">{{ g.order.total_price }}₺</span> </div></td>
                        </tr>
                        <tr>
                          <td><b>{{ translation["payment"] }} :</b></td>
                          <td>COD</td>
                        </tr>
                        <tr>
                          <td><b>{{ translation["order_no"] }} :</b></td>
                          <td>{{ g.order.id }}</td>
                        </tr>
                      </tbody>
                    </table>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-8">
              <div class="print-btn">
                <button onclick="printDiv('form-print')" class="btn btn-color" type="button">{{ translation["print"] }}</button>
                <div class="right-side float-none-xs mt-sm-30">
                  <a class="btn btn-black" href="shop.html">
                    <span><i class="fa fa-angle-left"></i></span>{{ translation["continue_shopping"] }}
                  </a>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
  <!-- CONTAINER END --> 

  {% endblock %}

{% block js_block %}
{% endblock %}